<nav class="navbar navbar-dark bg-dark row fle-nowrap col-2">
    <div class="container-fluid">
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item dropdown col-sm-1">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Company
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'organization_list' %}">Organization</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'subsidiary_list' %}">Subisidiaries</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown col-sm-1">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        States
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'city_list' %}">Cities</a></li>
                        <li><a class="dropdown-item" href="{% url 'state_list' %}">States</a></li>
                        <li><a class="dropdown-item" href="{% url 'country_list' %}">Countries</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'region_list' %}">Regions</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product_list' %}">Products</a>
                </li>
                <li class="nav-item dropdown col-sm-1 ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Product Caracteristics
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'group_list' %}">Group</a></li>
                        <li><a class="dropdown-item" href="{% url 'brand_list' %}">Brands</a></li>
                        <li><a class="dropdown-item" href="{% url 'unitmeasure_list' %}">Unit Measures</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'employee_list' %}">Employees</a>
                </li>
                </li>
                <li class="nav-item dropdown col-sm-1 ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Production
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="{% url 'dispatch_production_list' %}">Dispatch Production</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'production_movement_list' %}">Production
                                Movements</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="{% url 'production_sector_list' %}">Production Sectors</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>