{% extends 'base.html' %}
{% block title %}Check City Delete{% endblock %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Check City Delete</h3>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><strong class="bg-danger">City <strong>{{ city.name }}</strong> already has related, please check!</strong></h3>
            <p></p>
            <p class="card-text">Name: <strong>{{ city.name }}</strong></p>
            <form method="post">
                {% csrf_token %}
                <a href="{% url 'city_list' %}" class="btn btn-secondary">Cancel and
                    Return</a>
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </form>
        </div>
    </div>
</div>


{% endblock %}