{% extends 'base.html' %}

{% block title %}Regions Details{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3 class="display-6">Regions Details</h3>
    <div class="card">
        <div class="card-body">

            <h3 class="card-title">Name: {{ region.name }}</h3>
            <p class="card-text">Abbreviation: {{ region.abbreviation }}</p>
            <a href="{% url 'region_list' %}" class="btn btn-secondary" id="button-cancel">Cancel and
                Return</a>
        </div>
    </div>
</div>

{% endblock %}