{% extends 'base.html' %}
{% block title %}State Delete{% endblock %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">State Delete</h3>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><strong class="bg-danger">Do you want to delete it?</strong></h3>
            <p></p>
            <p class="card-text">Name: <strong>{{ state.name }}</strong></p>
            <p class="card-text">Abbreviation: <strong>{{ state.abbreviation }}</strong></p>
            <p class="card-text">Region: <strong>{{ state.region}}</strong></p>
            <p class="card-text">Country: <strong>{{ state.country}}</strong></p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{% url 'state_list' %}" class="btn btn-secondary">Cancel and
                    Return</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}