{% extends 'base.html' %}
{% block title %}State Update{% endblock %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">State Update</h3>
    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="{% url 'state_list' %}" class="btn btn-secondary">Cancel and
                    Return</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}