{% extends 'base.html' %}

{% block title %}Unit Measure Details{% endblock %}

{% block content %}
<div class="container mt-4">
    <h3 class="display-6">Unit Measure Details</h3>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Name: {{ unitmeasure.id }} - {{ unitmeasure.name }}</h3>
            <p class="card-text">Abbreviation: {{ unitmeasure.abbreviation }}</p>
            <a href="{% url 'unitmeasure_list' %}" class="btn btn-secondary" id="button-cancel">Cancel and
                Return</a>
        </div>
    </div>
</div>

{% endblock %}