{% extends 'base.html' %}
{% block title %}Dispatch Production Delete{% endblock %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Dispatch Production Delete</h3>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><strong class="bg-danger">Do you want to delete it?</strong></h3>
            <p></p>
            <p class="card-text">PO: <strong>{{ dispatchproduction.po }}</strong></p>
            <p class="card-text">Product: <strong>{{ dispatchproduction.product }}</strong></p>
            <p class="card-text">Quantity: <strong>{{ dispatchproduction.quantity }}</strong></p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</button>
            <!-- Button trigger modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Are you sure you want to delete it?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Do you really want to exclude the product <strong>{{ dispatchproduction.product }}</strong>?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Yes!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'dispatch_production_list' %}" class="btn btn-secondary">Cancel and
                Return</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}