{% extends 'base.html' %}

{% block title %}
Manager - Subsidiary
{% endblock %}

{% block content %}
<h3 class="display-6">Subsidiaries</h3>
<div class="row mb-3">
    <div class="col-md-6">
        <form method="get" action="{% url 'subsidiary_list' %}">
            <div class="input-group">
                <input type="text" class="form-control" name="name" placeholder="name" value="{{ request.Get.name}}">
                <input type="text" class="form-control" name="register" placeholder="register"
                    value="{{ request.Get.register }}">
                <button class="btn btn-primary"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <a href="{% url 'subsidiary_create' %}" class="btn btn-success float-end">
            <i class="bi bi-plus"></i> New
        </a>
    </div>
</div>
<div class="table-reponsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Register</th>
                <th>Fantasy Name</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for subsidiary in subsidiaries %}
            <tr>
                <td>{{ subsidiary.id }}</td>
                <td>{{ subsidiary.name }}</td>
                <td>{{ subsidiary.register }}</td>
                <td>{{ subsidiary.fantasy_name }}</td>
                <td>
                    <a href="{% url 'subsidiary_detail' subsidiary.id %}" class="btn btn-info brn-sm">
                        <i class="bi bi-eye"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}